[submodule "lib/mqtt-testing"]
	path = lib/mqtt-testing
	url = https://github.com/eclipse/paho.mqtt.testing.git
	branch = master
[submodule "lib/fleet-protocol"]
	path = lib/fleet-protocol
	url = https://github.com/bringauto/fleet-protocol.git
