[submodule "lib/mqtt-testing"]
	path = lib/mqtt-testing
	url = https://github.com/eclipse/paho.mqtt.testing.git
	branch = master
[submodule "lib/fleet-protocol"]
	path = lib/fleet-protocol
	url = https://github.com/bringauto/fleet-protocol.git
[submodule "lib/mission-module"]
	path = lib/mission-module
	url = https://github.com/bringauto/mission-module.git
[submodule "lib/io-module"]
	path = lib/io-module
	url = https://github.com/bringauto/io-module.git
